<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form action="/admin/add" method="post">
    <label for="name">Имя:</label>
    <input type="text" name="username" id="name" required>
    <br>
    <label for="pass">Пароль:</label>
    <input type="text" name="password" id="pass" required>
    <br>
    <input type="submit" value="Добавить">
</form>
<br>
<div th:insert="fragments/buttons_back.html :: buttons_back"></div>
<br>
<div th:insert="fragments/logout.html :: logout"></div>
</body>
</html>