<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout.html :: head">
    <title>Delete user</title>
</head>
<body>
<div th:replace="layouts/layout.html :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <span data-feather="home"></span>
                            Admin panel<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/user/profile">Профиль</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3>Удалить пользователя - </h3>
            </div>

            <div class="col-md-8 order-md-1">
                <div class="col-md-8 mb-3">
                    <input class="form-control mb-2" type="text" th:value="'id - ' + ${user.id}" readonly>
                    <input class="form-control mb-2" type="text" th:value="'Имя - ' + ${user.username}" readonly>
                    <input class="form-control mb-2" type="text"  th:value="'Пароль - ' + ${user.password}" readonly>
                    <p>Права:
                    <ul>
                        <li th:each="role : ${user.roles}">
                            <span type="text" th:text="${role.getRoleName()}"></span>
                        </li>
                    </ul>
                    <br>
                    Вы уверены?
                    <form action="/admin/deleteUser" method="get">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="layouts/layout.html :: footer"></footer>
</body>
</html>