<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="layouts/layout.html :: head">
    <title>Edit user</title>
</head>
<body>
<div th:replace="layouts/layout.html :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <span data-feather="home"></span>
                            Admin panel<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/user/profile">Профиль</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Edit user - <span th:text="${userEditing.id}"></span></h2>
            </div>

            <div class="col-md-8 order-md-1">
                <div class="col-md-6 mb-3">
                    <form action="/admin/edit" method="post" th:object="${userEditing}">
                        <input type="hidden" name="id" th:value="${userEditing.id}">
                        Имя:
                        <input class="form-control" type="text" name="username" th:value="${userEditing.username}" required>
                        <p th:text="${message}"></p>
                        <br>
                        Пароль:
                        <input class="form-control" type="text" name="password" th:value="${userEditing.password}" required>
                        <br>
                        <ul>
                            <li th:each="role : ${rolelist}">
                                <input type="checkbox" name="roles" th:field="*{roles}" th:value="${role.getId()}"
                                       th:text="${role.getRoleName()}"/>
                            </li>
                        </ul>
                        <button class="btn btn-primary" type="submit">Изменить</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="layouts/layout.html :: footer"></footer>
</body>
</html>