<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout.html :: head">
    <title>Удалить профиль</title>
</head>
<body>
<div th:replace="layouts/layout.html :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link active" href="/admin">
                            <span data-feather="home"></span>
                            Admin panel<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/user/profile">Профиль</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 text-center">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Удалить профиль?</h2>
            </div>

            <div class="col-md-8 order-md-1">
                <div class="col-md-6 mb-3">
                    Имя:<input class="form-control mb-2" type="text" th:value="${user.username}" readonly>
                    Пароль:<input class="form-control mb-5" type="text"  th:value="${user.password}" readonly>
                    Вы уверены?
                    <form action="/user/deleteProfile" method="post">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button class="btn btn-danger btn-lg" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>