<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удалить профиль</title>
</head>
<body>

<h2>Удалить профиль?</h2>

<br>
<p th:text="${'Имя - ' + user.username}"></p>
<br>
<p th:text="${'Пароль - ' + user.password}"></p>
<br>
Вы уверены?
<form action="/user/deleteProfile" method="post">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="submit" value="Удалить">
</form>

<br>
<div th:insert="fragments/buttons_back.html :: buttons_back"></div>
<br>
<div th:insert="fragments/logout.html :: logout"></div>
</body>
</html>