<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout.html :: head">
    <title>Registration</title>
</head>
<body>
<div th:replace="layouts/layout.html :: header"></div>

<div class="container text-center col-4">
    <form action="/registration" method="post">
        <div class="row mb-2 justify-content-center">
        Имя:<input class="form-control mb-2" type="text" name="username" placeholder="Имя пользователя" required/>
        </div>
        <div class="row mb-2 justify-content-center">
        Пароль:<input class="form-control mb-2" type="password" name="password" placeholder="Пароль" required/>
        </div>
        <div class="row mb-5 justify-content-center">
        Подтверждение пароля:<input class="form-control mb-5" type="password" name="passwordConfirm"
                                    placeholder="Подтверждение пароля" required/>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>

    </form>
</div>

<footer th:replace="layouts/layout.html :: footer"></footer>
</body>
</html>